<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <nav class="nav">
            <div class="logo">
                <img class="logo--logo" src="./assets/logo.svg" alt="Bubble chat">
            </div>
            <div class="menu">
                <div class="menu__search">
                   
                </div>
                <a class="menu__sign" href="/signin"><p class="menu__sign--text">SIGN IN</p></a>
                <a class="menu__sign" href="/signup"><p class="menu__sign--text">SIGN UP</p></a>
            </div>
        </nav>
    </header>
    <main class="main__sign">
        <h2 class="main--title center">
            Sign Up
        </h2>
        <div class="sign" id="signupWrapper">
                <%if(data){%>
                    <div class="alert alert-danger" role="alert" id="signinAlert">
                    <%=data.alert%>
                  </div>
                <%}%>
            <form action="/signup" method="POST" class="sign__form" name="signupForm" id="signupForm">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" name="surname" placeholder="Surname">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Password">
                  </div>
            </form>
            <button class="btn btn-primary" name="signupBtn" id="signupBtn">Submit</button>
        </div>
    </main>
</div>
<script src="../scripts/signupScript.js"></script>
</body>
</html>